<div class="container">
    <div class="jumbotron" style="background-color: black;">
        <img src="/assets/img/burger.png" alt="burger" id="burgerLogo" style="height: 100px;">
        <h1 class="display-4" style="color: lime">Eat-da-Burger!</h1>
        <p class="lead" style="color: whitesmoke">Order it, Devour it</p>
    </div>
    <form class="create-form">
        <div class="form-group row">
            <p for="inputBurger" style="color: whitesmoke; font-size: 20px">What kind of burger are you craving?</p>
            <input type="text" class="form-control" id="inputBurger" value="{{this.id}}"
                style="background-color: black; border-color: lime">
            <button class="btn" id="burgerBtn" type="submit"
                style="background-color: lime; margin-top: 10px; text-align: center !important">Order</button>
        </div>
        <div class="row">
            <div class="col" class="eat">
                <h2 class="headingOrder" style="color: lime;">Your order is waiting to be devoured.</h2>
                <ul>
                    {{#each burgers}}
                    {{#unless devoured}}
                    <p class="burger"> {{this.burger_name}}</p>
                    <button type="submit" class="btn" id="devourBtn" data-id="{{this.id}}"
                        style="background-color: lime;"></button>
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
            <div class="col" id="dev">
                <h2 class="headingDevour" style="color: lime">Devoured!</h2>
                <ul>
                    {{#each burgers}}
                    {{#if this.devoured}}
                    <p class="burger"> {{this.burger_name}}</p>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </form>








</div>